<h1>New contact <small>abc</small></h1>

<div class="container">
  <div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" [(ngModel)]="contact.name" required />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input matInput type="text" [(ngModel)]="contact.lastname" required />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Phone number</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="contact.phonenumber"
          required
        />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Genre</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let gender of genders"
            [value]="gender.description"
          >
            {{ gender.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br />

      <button mat-raised-button color="warn" (click)="save()">
        <mat-icon>save</mat-icon>
        Save
      </button>
    </div>
  </div>

  <div><img src="/assets/no-image.png" /></div>
</div>
