<div>
  <div>
    <h1>Search</h1>
    <mat-divider></mat-divider>
    <br />
  </div>
  <div>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        type="text"
        placeholder="Pick one"
        aria-label="Name"
        matInput
        [(ngModel)]="term"
        [matAutocomplete]="auto"
        (input)="sarching()"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="selectedOption($event)"
      >
        <mat-option *ngFor="let contact of contacts" [value]="contact">
          {{ contact.name }}
        </mat-option>

        <mat-option
          value=""
          *ngIf="contacts.length == 0 && term.trim().length > 0"
        >
          No results found
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div>
    <div *ngIf="selectedContact">
      <app-contact-card [contact]="selectedContact"></app-contact-card>
    </div>
  </div>
</div>
