<mat-grid-list cols="1" *ngIf="!contact; else divContact">
  <mat-grid-tile>
    <mat-spinner></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #divContact>
  <div class="container">
    <div>
      <img src="assets/no-image.png" />
    </div>
    <div>
      <h1>{{ contact.name }} {{ contact.lastName }}</h1>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item>Email: {{ contact.email }}</mat-list-item>
        <mat-list-item>Phone: {{ contact.phoneNumber }}</mat-list-item>
      </mat-list>

      <br />

      <button mat-button color="warn" (click)="back()">Back</button>
    </div>
  </div>
</ng-template>
