<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://birthdaybotfunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d993aaf4-c0b6-484e-a434-d1a7bf1803f9/resourceGroups/BirthdayBot/providers/Microsoft.Web/sites/BirthdayBotFunctionApp</ResourceId>
    <UserName>$BirthdayBotFunctionApp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://birthdaybotfunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>